#learning .item {
  background: white;
  padding: 20px;
  margin: 10px;
  display: flex;
}

#learning .item .item-image {
  width: 400px;
}

#learning .item .item-image img {
  width: 100%;
}

#learning .item .item-text {
  padding: 20px;
  width: 80%;
}

#learning .item .item-text button {
  min-width: 110px;
}
