$dark-blue: #005AB4;
$light-blue: #007CE2;
$yellow: #FEDF01;
$grey: #f1f2f2;

body, html {
  margin: 0px;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  color: $dark-blue;
  background-color: $grey;
}

h1, h2, h3, h4, footer {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.btn {
  border: 2px solid transparent;
  text-align: center;
  color: $dark-blue;
  font-weight: bolder;
  background-color: $yellow;
  border-radius: 100px;
  padding: 5px 20px 5px 20px;
  transition: 0.5s all;
  &:hover {
    border: 2px solid $yellow;
    background-color: #fff;
  }
}


@media screen and (max-width: 640px) {
  .topNav {
    width: 100%;
  }
}

// NEW NAVBAR
#navbar {
  background-color: $dark-blue;
  overflow: hidden;
  height: 75px;
  width: 100%;
}

.topNav {
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
  a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    min-width: 100px;
    transition: 0.5s all;
    &:nth-child(even){
      background-color: $light-blue;
    }
    &:hover{
      background-color: $yellow;
      color: #141414;
    }
  }
  .branding {
    margin: 0;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 25px;
  }
}

// old junky navbar

header {
  width: 100%;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }
  header {
    position: sticky;
  }
}

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  background: $dark-blue;
  color: white;

  .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;

    .item {
      list-style: none;
      display: inline-block;
      font-size: 18px;
      padding: 0 5px;
      font-weight: 300;
      line-height: 80px;
      min-width: 120px;
      text-align: center;
      transition: all 0.5s;

      &:hover {
          background-color: $yellow;
          color: #222;
      }

      &.background-brand-light {
        background: $light-blue;

        &:hover {
            background-color: $yellow;
            color: #222;
        }
      }

      img {
        width: 20px
      }

      a {
        text-align: center;
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .logo {
    float: left;
    display: inline-block;
    margin-left: 5%;
    width: 70px;
    height: 70px;

    .brand-name {
      font-size: 28px;
    }
  }
}

// HEADER

#header {
  background-image: url("../images/discover-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  .callout {
    font-size: 1.5em;
    text-align: center;
    height: 40vh;
    width: 50%;
    margin: 0 auto;
    @extend .flex;
  }
}

// CONTENT
#content {
  height: auto;
  margin-bottom: 50px;
  .cta {
    text-align: center;
    height: 12vh;
    @extend .flex;
  }
}

.signing-in-container{
  background:$light-blue;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .signing-in-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    padding: 10px;
  }
}

.submittingVideo-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  border-top: solid $yellow;
  border-radius: 50%;
  animation: rotate 0.8s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.filter {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  .text {
    padding: 1px;
  }
}

.filters {
  padding: 0px;
  margin-left: 0px;
  list-style: none;
  overflow: hidden;
  li {
    padding-right: 20px;
    display: inline;
    text-align: center;
    transition: all 0.3s;

    &:hover {
      @extend .highlight;
    }
  }
  .highlight {
    background-color: $dark-blue;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    padding-right: 10px;
    padding-left: 10px;
    width: 10%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px 5px;
  .item {
    max-width: 85%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: all 0.7s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    h3 {
      font-weight: bold;
    }
  }
}

.bold {
  font-weight: 800;
}
// FOOTER

#footer {
  width: 100%;
  margin: 0;
  height: 70px;
  background-color: $dark-blue;
  color: #fff;
  padding: 20px 0px;
  .container {
    width: 80%;
  }
  .logo {
    width: 40%;
    float: left;
    font-size: 20px;
  }

  .footer-text{
    margin: 0;
    font-size: 13px;
    width: 60%;
    float: right;
    text-align: right;
  }
}

// DISCOVERHTML
// TABS
#tabs{
  background-color: #fff;
  .tabs-data {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    background-color: white;
    p {
      padding-top: 15px;
      margin-top: 0px;
    }
  }
}

.grid-discover {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 20px 20px;
  .desc {
    background-color: #fff;
    padding: 20px;
    p {
      margin: 0px;
      margin-top: 7px;
      margin-bottom: 20px;
    }
    #last {
      margin-bottom: 0px;
    }
  }
}

.grid-profile {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 20px 20px;
  .logs {
    background-color: #fff;
    padding: 20px;
  }
}

#videoElement {
  width: 100%;
}

.btn-red{
  background: red;
  color: white;

  &:hover {
    border-color: red;
    background: white;
    color: red;
  }
}

#alex {
  width: 25%;
  height: 25%;
  margin-bottom: 0px;
  border-radius: 50%;
  margin-right: 15%;
}
#holder-profile, #skills-profile, #activity-profile {
  min-height: 75px;
  h4 {
    margin-bottom: 12px;
  }
  .btn {
    font-size: 12px;
    background-color: $grey;
  }
}

#badges-profile {
  min-height: 200px;
  #badges {
    width: 65%;
  }
}

#activity {
  width: 70%;
}

.grid-sm {
  display: grid;
  grid-template-rows: 65% 35%;
  grid-gap: 20px 20px;

  .profile-info {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
      padding: 15px;
      border-radius: 50%;
      background: white;
      width: 100px;
      height: 100px;
    }
  }

  .spon {
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: row;

  }

  .name, .bio, .location {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    .change {
      margin-top: 0px;
    }
  }
  .apply {
    background-color: #fff;
    padding: 20px;
  }
}

// SEARCH
.people {
  background-color: #fff;
  padding: 20px;
  #search {
    width: 100%;
    min-height: 30px;
    transition: 0.3s all;
    border: 2px solid $grey;
    border-radius: 100px;
    &:focus{
      outline: none;
      border: 2px solid $yellow;
    }
  }
  .item {
    background-color: $grey;
    padding: 0px 10px 10px 10px;
    margin-top: 15px;
  }
}

.item-collection {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.right {
  float: right;
  margin-top: -100px;
}

// PITCH
.pitch {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  .text {
    text-align: center;
  }
  #txtarea {
    width: 80%;
    min-height: 100px;
    border: 1px solid $light-blue;
  }
  .update {
    display: none;
  }
}

.fade-in {
  animation: fade-in 0.8s linear;
}

@keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1;}
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}


// WELCOME PAGE
#welcome {
  height: 40vh;
  width: 100%;
  display: grid;
  .callout {
    margin: auto;
    text-align: center;
    width: 100%;
  }
}

#welcomeSignIn {
  background-image: url('../images/welcome-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#form {
  background-color: $dark-blue;
  color: white;
  padding: 30px;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
  input {
    border: 1px solid $grey;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 640px) {
   #form {
    width: 90%;
  }
}
