$dark-blue: #005AB4;
$light-blue: #007CE2;
$yellow: #FEDF01;
$grey: #f1f2f2;

body, html {
  margin: 0px;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  color: $dark-blue;
  background-color: $grey;
}

h1, h2, h3, h4, footer {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.btn {
  border: 2px solid transparent;
  text-align: center;
  color: $dark-blue;
  font-weight: bolder;
  background-color: $yellow;
  border-radius: 100px;
  padding: 5px 20px 5px 20px;
  transition: 0.5s all;
  &:hover {
    border: 2px solid $yellow;
    background-color: #fff;
  }
}

// NAVBAR

#navbar {
  background-color: $dark-blue;
  overflow: hidden;
  width: 100%;
  padding-top: 80px;
  height: 1900px;
}

header {
  width: 100%;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }

  header {
    position: sticky;
  }

}

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  background: $dark-blue;
  color: white;

  .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;

      .item {
        list-style: none;
        display: inline-block;
        font-size: 18px;
        padding: 0 5px;
        font-weight: 300;
        line-height: 80px;
        min-width: 120px;
        text-align: center;

        &.background-brand-light {
            background: $light-blue;
        }

      a {
        text-align: center;
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .logo {
    float: left;
    display: inline-block;
    margin-left: 5%;
    width: 70px;
    height: 70px;

    .brand-name {
      font-size: 28px;
    }
  }
}

// HEADER

#header {
  background-image: url("../images/discover-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  .callout {
    font-size: 1.5em;
    text-align: center;
    height: 40vh;
    width: 50%;
    margin: 0 auto;
    @extend .flex;
  }
}

// CONTENT
#content {
  height: auto;
  margin-bottom: 50px;
  .cta {
    text-align: center;
    height: 12vh;
    @extend .flex;
  }
}

.filter {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  .text {
    padding: 1px;
  }
}

.filters {
  padding: 0px;
  margin-left: 0px;
  list-style: none;
  overflow: hidden;
  li {
    padding-right: 20px;
    display: inline;
    text-align: center;
    transition: all 0.3s;

    &:hover {
      @extend .highlight;
    }
  }
  .highlight {
    background-color: $dark-blue;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    padding-right: 10px;
    padding-left: 10px;
    width: 10%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px 5px;
  .item {
    max-width: 85%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: all 0.7s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    h3 {
      font-weight: bold;
    }
  }
}

.bold {
  font-weight: 800;
}
// FOOTER

#footer {
  font-weight: 300;
  height: auto;
  background-color: $dark-blue;
  color: #fff;
  padding: 20px 120px;
  display: flex;
  flex-direction: row;

  .footer-logo {
    font-size: 28px;
  }

  .footer-rbc-text{
    font-size: 13px;  
  }
  p {
    margin: 0;
  }

  div {
    width: 50%;
  }
}

// DISCOVERHTML
// TABS
#tabs{
  background-color: #fff;
  .tabs-data {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    background-color: white;
    p {
      padding-top: 15px;
      margin-top: 0px;
    }
  }
}

.grid-discover {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 20px 20px;
  .desc {
    background-color: #fff;
    padding: 20px;
    p {
      margin: 0px;
      margin-top: 7px;
      margin-bottom: 20px;
    }
    #last {
      margin-bottom: 0px;
    }
  }
}

#alex {
  width: 25%;
  height: 25%;
  margin-bottom: 0px;
  border-radius: 50%;
  margin-right: 15%;
}

.grid-sm {
  display: grid;
  grid-template-rows: 65% 35%;
  grid-gap: 20px 20px;
  .spon {
    display: inline-flex;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5px;
    p {
      width: 100%;
      margin-bottom: 0px;
    }
  }
  .apply {
    background-color: #fff;
    padding: 20px;
  }
}
