$dark-blue: #005AB4;
$light-blue: #007CE2;
$yellow: #FEDF01;
$grey: #f1f2f2;

body, html {
  margin: 0px;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  color: $dark-blue;
}

*{
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 80px;
  height: 1900px;
}

header {
  width: 100%;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }

  header {
    position: sticky;
  }

}

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  background: $dark-blue;
  color: white;

  .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;

      .item {
        list-style: none;
        display: inline-block;
        font-size: 18px;
        padding: 0 5px;
        font-weight: 300;
        line-height: 80px;
        min-width: 120px;
        text-align: center;

        &.background-brand-light {
            background: $light-blue;
        }

      a {
        text-align: center;
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 70px;
    height: 70px;

    .brand-name {
      font-size: 28px;
    }
  }
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
