body, html {
  margin: 0px;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  color: #005AB4;
  background-color: #f1f2f2;
}

h1, h2, h3, footer {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex, #header .callout, #content .cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  min-height: 100vh;
}

.btn {
  border: 2px solid transparent;
  text-align: center;
  color: #005AB4;
  font-weight: bolder;
  background-color: #FEDF01;
  border-radius: 100px;
  padding: 5px 20px 5px 20px;
  transition: 0.5s all;
}

.btn:hover {
  border: 2px solid #FEDF01;
  background-color: #fff;
}

#navbar {
  background-color: #005AB4;
  overflow: hidden;
  width: 100%;
  padding-top: 80px;
  height: 1900px;
}

header {
  width: 100%;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }
  header {
    position: sticky;
  }
}

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  background: #005AB4;
  color: white;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 0 5px;
  font-weight: 300;
  line-height: 100px;
  min-width: 120px;
  text-align: center;
}

.navbar .nav .item.background-brand-light {
  background: #007CE2;
}

.navbar .nav .item a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  float: left;
  display: inline-block;
  margin-left: 5%;
  width: 70px;
  height: 70px;
}

.navbar .logo .brand-name {
  font-size: 28px;
}

#header {
  background-image: url("../images/discover-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

#header .callout {
  font-size: 1.5em;
  text-align: center;
  height: 40vh;
  width: 50%;
  margin: 0 auto;
}

#content {
  height: auto;
  margin-bottom: 50px;
}

#content .cta {
  text-align: center;
  height: 12vh;
}

.filter {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.filter .text {
  padding: 1px;
}

.filters {
  padding: 0px;
  margin-left: 0px;
  list-style: none;
  overflow: hidden;
}

.filters li {
  padding-right: 20px;
  display: inline;
  text-align: center;
  transition: all 0.3s;
}

.filters .highlight, .filters li:hover {
  background-color: #005AB4;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  padding-right: 10px;
  padding-left: 10px;
  width: 10%;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px 0px;
}

.grid .item {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.grid .item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.grid .item h3 {
  font-weight: bold;
}

.bold {
  font-weight: 800;
}

#footer {
  font-weight: 300;
  height: auto;
  background-color: #005AB4;
  color: #fff;
  padding: 20px 120px;
  display: flex;
  flex-direction: row;
}

#footer .footer-logo {
  font-size: 28px;
}

#footer p {
  margin: 0;
}

#footer div {
  width: 50%;
}

#tabs {
  background-color: #fff;
}

#tabs .tabs-data {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  background-color: white;
}

#tabs .tabs-data p {
  padding-top: 15px;
  margin-top: 0px;
}
